# Godot project folder
pre-alpha-voice-chat/

# Godot engine caches and imported assets
.godot/
*.pck
*.uid
*.import

# Build artifacts & object files
*.o
*.obj

# Third-party submodule / vendored library
libjuice/
